div.book-summary ul.summary li.header{
    color: #364149;
    background: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-style: italic;
    font-weight: bold;
    cursor: default;
    opacity: 1;
    padding-top:10px; 
    border-top: 1px solid rgba(0,0,0,.07);
}